#fondo{
       background-color:white;    
}
#contenedor{
      width: 990px;
      border:outset 2px lightgrey;
      margin: auto;
      height:590px;
      position:relative;
}
#logo{
      color: #FFFFFF;
      width: 210px;     
      height: 130px;
      float:left;
      background-color: #778CB3;
      position:absolute;
}
#logo_imagen{
       width: 210px;
       height: 130px;
}
#contenido
{
      width: 990px;
      height:460px;
      background-color:whitesmoke;
      right:0px;
      float:right;
      position:absolute;
      top: 130px;
}
#encabezado{
      color: black;
      background-color: lightcyan;
      width: 569px;     
      height: 112px;
      right:211px;
      position:absolute;
      top:0px;
}
#menuprincipal{
      color: black;
      background-color: lightcyan;
      width: 569px;     
      height: 18px;
      right:0px;
      position:absolute;
      top:112px;
}
#panelmenu
{
      height: 300px;
      width: 210px;
      border:inset 1px lightgrey;
      background-color:white;
}
#panellogin
{
      top:300px;
      height: 30px;
      width: 150px;
      border:inset 2px lightgrey;
      position:absolute;
}
#pie
{
      height: 130px;
      width: 212px;
      position:absolute;
	  background-color:lightblue;
      right:0px;
}
#login
{
      top:100px;
      height: 250px;
      width: 210px;
      background-color:whitesmoke;
      position:absolute;
      left:100px;
}
  .ItemDIV 
{
     font-family:Verdana,Arial;
     font-size:11px;
     color:Black;
     font-weight:normal;
     white-space:nowrap;
     padding:2px;
     padding-left:4px;
     padding-right:4px;
     background-color:Transparent;
     border:none;
}
/*Item: DIV (Hovered)*/
.ItemHoveredDIV 
{
     font-family:Arial;
     font-size:11px;
     color:white;
     font-weight:normal;
     white-space:nowrap;
     padding:2px;
     padding-left:4px;
     padding-right:4px;
     background-color: #9ea0f5;
     border:none;
     cursor:default;
     cursor:hand;
     cursor:pointer;
}
/*Item: DIV (Selected)*/
.ItemSelectedDIV 
{
     font-family:Verdana,Arial;
     font-size:11px;
     font-weight:normal;
     white-space:nowrap;
     padding:2px;
     padding-left:4px;
     padding-right:4px;
     background-color:#E0E0E0;
     border:none;
     cursor:default;
     cursor:hand;
     cursor:pointer;
}
/*Separator: TD*/
.SeparatorTD
{
     border-bottom:solid 1px white;
     border-left:solid 4px white;
     background-color:#eaeaea;
     height:1px;
     padding:0px;
     width:60px;
}
   
